.home--bg-1 {
  position: absolute;
  width: 692px;
  height: 692px;
  left: -71px;
  top: -72px;

  background: linear-gradient(
    134.27deg,
    rgba(115, 237, 186, 0.2) 5.56%,
    rgba(238, 242, 22, 0.2) 49.74%,
    rgba(119, 210, 47, 0.2) 93.01%
  );
  filter: blur(250px);
  border-radius: 1000px;
}

.home--bg-2 {
  position: absolute;
  width: 668px;
  height: 668px;
  left: 885px;
  top: -108px;

  background: linear-gradient(
    134.27deg,
    rgba(237, 115, 115, 0.16) 5.56%,
    rgba(242, 154, 22, 0.16) 49.74%,
    rgba(60, 47, 210, 0.16) 93.01%
  );
  filter: blur(250px);
  border-radius: 1000px;
}

.home--bg-3 {
  position: absolute;
  width: 703px;
  height: 703px;
  left: 533px;
  top: 385px;

  background: linear-gradient(
    134.27deg,
    rgba(115, 186, 237, 0.16) 5.56%,
    rgba(22, 242, 216, 0.16) 49.74%,
    rgba(210, 165, 47, 0.16) 93.01%
  );
  filter: blur(250px);
  border-radius: 1000px;
}

.home--logo {
    font-size: 24px;
    color: var(--dark-blue);
    font-weight: bold;
}

.home--get-started {
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
  width: 8.125rem;
  height: 2.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
