.home {
  overflow-y: hidden !important;
  color: var(--dark-blue);
}

.home--title {
  max-width: 61rem;
  margin: auto;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 5rem;
  text-align: center;
  margin-top: 8rem;
}

.home--content {
  max-width: 44rem;
  margin: auto;
  margin-top: 2rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: rgba(39, 47, 122, 0.7);
}

.home--explore-course { 
  cursor: pointer;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  background: #4bf2cc;
}

.home--explore-course__text {
  font-weight: 600;
}
